source/android/.build_version
source/android/build/.gdignore
source/android/build/templates/android_debug.apk
source/android/build/templates/android_release.apk
source/android/build/templates/android_source.zip
source/android/build/templates/ios.zip
source/android/build/templates/linux_debug.arm32
source/android/build/templates/linux_debug.arm64
source/android/build/templates/linux_debug.x86_32
source/android/build/templates/linux_debug.x86_64
source/android/build/templates/linux_release.arm32
source/android/build/templates/linux_release.arm64
source/android/build/templates/linux_release.x86_32
source/android/build/templates/linux_release.x86_64
source/android/build/templates/macos.zip
source/android/build/templates/version.txt
source/android/build/templates/web_debug.zip
source/android/build/templates/web_dlink_debug.zip
source/android/build/templates/web_dlink_nothreads_debug.zip
source/android/build/templates/web_dlink_nothreads_release.zip
source/android/build/templates/web_dlink_release.zip
source/android/build/templates/web_nothreads_debug.zip
source/android/build/templates/web_nothreads_release.zip
source/android/build/templates/web_release.zip
source/android/build/templates/windows_debug_arm64.exe
source/android/build/templates/windows_debug_arm64_console.exe
source/android/build/templates/windows_debug_x86_32.exe
source/android/build/templates/windows_debug_x86_32_console.exe
source/android/build/templates/windows_debug_x86_64.exe
source/android/build/templates/windows_debug_x86_64_console.exe
source/android/build/templates/windows_release_arm64.exe
source/android/build/templates/windows_release_arm64_console.exe
source/android/build/templates/windows_release_x86_32.exe
source/android/build/templates/windows_release_x86_32_console.exe
source/android/build/templates/windows_release_x86_64.exe
source/android/build/templates/windows_release_x86_64_console.exe
release/Wektu.x86_64
release/Wektu_arm64-v8a.apk
release/Wektu_arm64-v8a.apk.idsig
release/Wektu_arm64-v8a_android_v1.0.0.0.apk
release/Wektu_arm64_win_v1.0.0.0.exe
release/Wektu_armeabi-v7a.apk.idsig
release/Wektu_armeabi-v7a_android_v1.0.0.0.apk
release/Wektu_x86.apk.idsig
release/Wektu_x86_32_win_v1.0.0.0.exe
release/Wektu_x86_64_android_v1.0.0.0.apk
release/Wektu_x86_64_win.exe
release/Wektu_x86_64_win_v1.0.0.0.exe
release/Wektu_x86_android_v1.0.0.0.apk
extern/wektu_debug.jks
extern/wektu_release.jks
release/Wektu.x86_64
release/Wektu_arm64-v8a.apk
release/Wektu_arm64-v8a.apk.idsig
release/Wektu_x86_64_win.exe
archived/button/apply_hover.png
archived/button/apply_normal.png
archived/button/apply_pressed.png
archived/button/auto_hover.png
archived/button/auto_normal.png
archived/button/auto_pressed.png
archived/button/cancel_hover.png
archived/button/cancel_normal.png
archived/button/cancel_pressed.png
archived/button/exit_hover.png
archived/button/exit_normal.png
archived/button/exit_pressed.png
archived/button/high_hover.png
archived/button/high_normal.png
archived/button/high_pressed.png
archived/button/low_hover.png
archived/button/low_normal.png
archived/button/low_pressed.png
archived/button/mid_hover.png
archived/button/mid_normal.png
archived/button/mid_pressed.png
archived/button/no_hover.png
archived/button/no_normal.png
archived/button/no_pressed.png
archived/button/ok_hover.png
archived/button/ok_normal.png
archived/button/ok_pressed.png
archived/button/quit_hover.png
archived/button/quit_normal.png
archived/button/quit_pressed.png
archived/button/setting_hover.png
archived/button/setting_normal.png
archived/button/setting_pressed.png
archived/button/ultra_hover.png
archived/button/ultra_normal.png
archived/button/ultra_pressed.png
archived/button/yes_hover.png
archived/button/yes_normal.png
archived/button/yes_pressed.png
archived/clock/base_number.png
archived/clock/hour_needle.png
archived/clock/minute_needle.png
archived/clock/second_needle.png
archived/debug/app-debug.apk
archived/debug/output-metadata.json
archived/description/am.png
archived/description/graphic_quality_desc.png
archived/description/pm.png
archived/description/quit_app_desc.png
archived/description/window_mode_desc.png
archived/release/app-release.apk
archived/release/baselineProfiles/0/app-release.dm
archived/release/baselineProfiles/1/app-release.dm
archived/release/output-metadata.json
archived/symbol_tiny_button.svg
archived/text_long_description.svg
archived/text_short_button.svg
archived/Wektu_arm64-v8a.apk.idsig
archived/Wektu_arm64-v8a_android_v1.0.0.0.apk
archived/Wektu_arm64_win_v1.0.0.0.exe
archived/Wektu_armeabi-v7a.apk.idsig
archived/Wektu_armeabi-v7a_android_v1.0.0.0.apk
archived/Wektu_x86.apk.idsig
archived/Wektu_x86_32_win_v1.0.0.0.exe
archived/Wektu_x86_64_android_v1.0.0.0.apk
archived/Wektu_x86_64_win_v1.0.0.0.exe
archived/Wektu_x86_android_v1.0.0.0.apk
archived/Wektu_x86_64_linux_v1.0.0.0.x86_64
archived/Wektu_x86_32_android_v1.0.0.0.apk
archived/Wektu_arm64_linux_v1.0.0.0.arm64
archived/Wektu_x86_32_linux_v1.0.0.0.x86_32
