source/android/.build_version
source/android/build/.gdignore
source/android/build/templates/android_debug.apk
source/android/build/templates/android_release.apk
source/android/build/templates/android_source.zip
source/android/build/templates/ios.zip
source/android/build/templates/linux_debug.arm32
source/android/build/templates/linux_debug.arm64
source/android/build/templates/linux_debug.x86_32
source/android/build/templates/linux_debug.x86_64
source/android/build/templates/linux_release.arm32
source/android/build/templates/linux_release.arm64
source/android/build/templates/linux_release.x86_32
source/android/build/templates/linux_release.x86_64
source/android/build/templates/macos.zip
source/android/build/templates/version.txt
source/android/build/templates/web_debug.zip
source/android/build/templates/web_dlink_debug.zip
source/android/build/templates/web_dlink_nothreads_debug.zip
source/android/build/templates/web_dlink_nothreads_release.zip
source/android/build/templates/web_dlink_release.zip
source/android/build/templates/web_nothreads_debug.zip
source/android/build/templates/web_nothreads_release.zip
source/android/build/templates/web_release.zip
source/android/build/templates/windows_debug_arm64.exe
source/android/build/templates/windows_debug_arm64_console.exe
source/android/build/templates/windows_debug_x86_32.exe
source/android/build/templates/windows_debug_x86_32_console.exe
source/android/build/templates/windows_debug_x86_64.exe
source/android/build/templates/windows_debug_x86_64_console.exe
source/android/build/templates/windows_release_arm64.exe
source/android/build/templates/windows_release_arm64_console.exe
source/android/build/templates/windows_release_x86_32.exe
source/android/build/templates/windows_release_x86_32_console.exe
source/android/build/templates/windows_release_x86_64.exe
source/android/build/templates/windows_release_x86_64_console.exe
extern/Wektu_Debug.jks
extern/Wektu_Release.jks
release/Wektu.x86_64
release/Wektu_arm64-v8a.apk
release/Wektu_arm64-v8a.apk.idsig
release/Wektu_arm64-v8a_android_v1.0.0.0.apk
release/Wektu_arm64_win_v1.0.0.0.exe
release/Wektu_armeabi-v7a.apk.idsig
release/Wektu_armeabi-v7a_android_v1.0.0.0.apk
release/Wektu_x86.apk.idsig
release/Wektu_x86_32_win_v1.0.0.0.exe
release/Wektu_x86_64_android_v1.0.0.0.apk
release/Wektu_x86_64_win.exe
release/Wektu_x86_64_win_v1.0.0.0.exe
release/Wektu_x86_android_v1.0.0.0.apk
extern/Wektu_Debug.jks
extern/Wektu_Release.jks
release/Wektu.x86_64
release/Wektu_arm64-v8a.apk
release/Wektu_arm64-v8a.apk.idsig
release/Wektu_x86_64_win.exe
